<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Title</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="menu-content"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Artistas</h1>
  <ion-slides *ngIf="artists.length" [options]="slideOps">
    <ion-slide *ngFor="let artist of artists">
      <ion-avatar (click)="showSongs(artist)">
        <img [src]="artist.images ? artist.images[0]?.url : ''" />
        <span>{{artist.name}}</span>
      </ion-avatar>
    </ion-slide>
  </ion-slides>
  <h1>Álbumes</h1>
  <ion-slides *ngIf="albums.length" [options]="slideOps">
    <ion-slide *ngFor="let album of albums">
      <ion-avatar class="square-avatar">
        <img [src]="album.images ? album.images[0]?.url : ''" />
        <span>{{album.name}}</span>
      </ion-avatar>
    </ion-slide>
  </ion-slides>
  <h1>Canciones</h1>
  <ion-slides *ngIf="songs.length" [options]="slideOps">
    <ion-slide *ngFor="let song of songs">
      <ion-avatar class="square-avatar">
        <img [src]="song.images ? song.images[0].url : ''" />
        <span>{{song.name}}</span>
      </ion-avatar>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-grid fixed>
    <ion-row *ngIf="currentSong">
      <ion-col class="ion-text-start" size="6">{{!currentSong ? '00:00' : currentSong.currentTime * 1000 | date: 'mm:ss'}}</ion-col>
      <ion-col class="ion-text-end" size="6">{{!currentSong ? '00:00' : currentSong.duration * 1000 | date: 'mm:ss'}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-progress-bar type="determinate" [value]="newTime" color="primary"></ion-progress-bar>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1">
        <ion-icon name="heart"></ion-icon>
      </ion-col>
      <ion-col size="10">
        {{ song ? song.name : 'Sin texto' }}
        <!-- {{ song.a || 'Sin texto' }} -->
      </ion-col>
      <ion-col size="1">
        <ion-icon name="play" (click)="play()" *ngIf="!song?.playing"></ion-icon>
        <ion-icon name="pause" (click)="pause()" *ngIf="song?.playing"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-text *ngIf="song.name" color="primary">
    <h2>{{ song.name }}</h2>
  </ion-text> -->
</ion-footer>
