<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Title</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="menu-content"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Álbums</h1>
  <ion-slides *ngIf="albums.length" [options]="slideOps">
    <ion-slide *ngFor="let album of albums">
      <ion-avatar>
        <img [src]="album.images ? album.images[0]?.url : ''" />
        <span>{{album.name}}</span>
      </ion-avatar>
    </ion-slide>
  </ion-slides>
  <h1>Canciones</h1>
  <ion-slides *ngIf="songs.length" [options]="slideOps">
    <ion-slide *ngFor="let song of songs">
      <ion-avatar>
        <img [src]="song.images ? song.images[0].url : ''" />
        <span>{{song.name}}</span>
      </ion-avatar>
    </ion-slide>
  </ion-slides>
</ion-content>
