<ion-content>
  <figure class="ion-text-center ion-padding">
    <img src="assets/img/logo.png" alt="Logo Platzi Music">
  </figure>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div class="error-validation">
      <ng-container *ngFor="let validation of validationMessages.name">
        <div
          *ngIf="registerForm.get('name').hasError(validation.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)"
          class="">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input type="text" formControlName="lastname"></ion-input>
    </ion-item>
    <div class="error-validation">
      <ng-container *ngFor="let validation of validationMessages.lastname">
        <div
          *ngIf="registerForm.get('lastname').hasError(validation.type) && (registerForm.get('lastname').dirty || registerForm.get('lastname').touched)"
          class="">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="error-validation">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div
          *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)"
          class="">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="error-validation">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div
          *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)"
          class="">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    {{ errorMessage }}
    <ion-button color="success" expand="full" shape="round" [disabled]="registerForm.invalid" type="submit">
      Registrarme
    </ion-button>
  </form>
</ion-content>
